@import /* webpackPreload: true */ '~bootstrap/scss/functions';
@import /* webpackPreload: true */ '~bootstrap/scss/variables';
@import /* webpackPreload: true */ '~bootstrap/scss/mixins';
// @import /* webpackPreload: true */ '~bootstrap/scss/root';
@import /* webpackPreload: true */ '~bootstrap/scss/reboot';
// @import /* webpackPreload: true */ '~bootstrap/scss/type';
// @import /* webpackPreload: true */ '~bootstrap/scss/images';
// @import /* webpackPreload: true */ '~bootstrap/scss/code';
@import /* webpackPreload: true */ '~bootstrap/scss/grid';
@import /* webpackPreload: true */ '~bootstrap/scss/tables';
@import /* webpackPreload: true */ '~bootstrap/scss/forms';
@import /* webpackPreload: true */ '~bootstrap/scss/buttons';
@import /* webpackPreload: true */ '~bootstrap/scss/transitions';
// @import /* webpackPreload: true */ '~bootstrap/scss/dropdown';
@import /* webpackPreload: true */ '~bootstrap/scss/button-group';
// @import /* webpackPreload: true */ '~bootstrap/scss/input-group';
@import /* webpackPreload: true */ '~bootstrap/scss/custom-forms';
@import /* webpackPreload: true */ '~bootstrap/scss/nav';
@import /* webpackPreload: true */ '~bootstrap/scss/navbar';
@import /* webpackPreload: true */ '~bootstrap/scss/card';
// @import /* webpackPreload: true */ '~bootstrap/scss/breadcrumb';
// @import /* webpackPreload: true */ '~bootstrap/scss/pagination';
// @import /* webpackPreload: true */ '~bootstrap/scss/badge';
// @import /* webpackPreload: true */ '~bootstrap/scss/jumbotron';
@import /* webpackPreload: true */ '~bootstrap/scss/alert';
// @import /* webpackPreload: true */ '~bootstrap/scss/progress';
// @import /* webpackPreload: true */ '~bootstrap/scss/media';
@import /* webpackPreload: true */ '~bootstrap/scss/list-group';
@import /* webpackPreload: true */ '~bootstrap/scss/close';
@import /* webpackPreload: true */ '~bootstrap/scss/toasts';
@import /* webpackPreload: true */ '~bootstrap/scss/modal';
@import /* webpackPreload: true */ '~bootstrap/scss/tooltip';
@import /* webpackPreload: true */ '~bootstrap/scss/popover';
// @import /* webpackPreload: true */ '~bootstrap/scss/carousel';
@import /* webpackPreload: true */ '~bootstrap/scss/spinners';
@import /* webpackPreload: true */ '~bootstrap/scss/utilities';
// @import /* webpackPreload: true */ '~bootstrap/scss/print';

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
